---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";

const title = "Política de Privacidad";
const meta_title = "Política de Privacidad | Drenpos Tech, S.L.";
const description = "Política de Privacidad (2ª capa) de Drenpos Tech, S.L.";
---

<Base {title} {meta_title} {description}>
  <PageHeader
    title="Política de Privacidad"
    description="Cómo protegemos y tratamos tus datos personales"
    hasSmallHeight="h-[600px]"
  />
  <section class="section-up">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          <div
            class="content bg-body p-5 first:rounded-t-[30px]"
            data-aos="fade-up-sm"
            data-aos-delay="200"
          >
            <h1>POLÍTICA DE PRIVACIDAD</h1>

            <h2>Política de Privacidad</h2>

            <h3>POLÍTICA DE PRIVACIDAD</h3>
            <p>
              Siguiendo los principios de licitud, lealtad y transparencia,
              ponemos a su disposición la presente Política de Privacidad.
            </p>

            <h3>¿Quién es el Responsable del tratamiento de sus datos?</h3>

            <table>
              <tbody>
                <tr>
                  <th>RESPONSABLE</th>
                  <td>Drenpos Tech, S.L</td>
                </tr>
                <tr>
                  <th>NIF</th>
                  <td>B22872501</td>
                </tr>
                <tr>
                  <th>DOMICILIO SOCIAL</th>
                  <td>C/ Badajoz 4, 06209, Solana de los Barros, Badajoz</td>
                </tr>
                <tr>
                  <th>CONTACTO</th>
                  <td>
                    Email&nbsp;&nbsp;administracion@drenpos.com <br />
                    Teléfono&nbsp;&nbsp;616850899
                  </td>
                </tr>
              </tbody>
            </table>

            <h3>¿Con qué finalidad tratamos sus datos personales?</h3>
            <p>
              En Drenpos Tech, S.L, dependiendo de la categoría de interesado de
              que se trate, tratamos la información que nos facilita con las
              siguientes finalidades:
            </p>

            <table>
              <thead>
                <tr>
                  <th>INTERESADOS</th>
                  <th>FINALIDADES DEL TRATAMIENTO</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>POTENCIALES CLIENTES</th>
                  <td
                    >Gestionar la potencial relación comercial y/o profesional,
                    gestionar el envío de información solicitada y/o resolver
                    las consultas planteadas, facilitar ofertas de nuestros
                    servicios y/o productos de su interés.</td
                  >
                </tr>
                <tr>
                  <th>CLIENTES</th>
                  <td
                    >Gestionar la relación comercial y/o profesional, facilitar
                    ofertas de nuestros servicios y/o productos de su interés.</td
                  >
                </tr>
                <tr>
                  <th>PROVEEDORES</th>
                  <td>Gestionar la relación comercial y/o profesional.</td>
                </tr>
                <tr>
                  <th>CANDIDATOS</th>
                  <td>Gestionar el proceso de selección de personal.</td>
                </tr>
                <tr>
                  <th>USUARIOS WEB</th>
                  <td>Gestionar el análisis de sus datos de navegación.</td>
                </tr>
              </tbody>
            </table>

            <h3>¿Cuál es la legitimación para el tratamiento de sus datos?</h3>
            <p>
              La base legal para el tratamiento de sus datos personales,
              dependiendo de la categoría de interesado de que se trate, puede
              ser:
            </p>

            <table>
              <thead>
                <tr>
                  <th>INTERESADOS</th>
                  <th>BASE LEGAL</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>POTENCIALES CLIENTES</th>
                  <td>
                    Art. 6.1.b RGPD: aplicación, a petición del interesado, de
                    medidas precontractuales (presupuestos, hojas de encargo,
                    ofertas de servicios…).<br />
                    Art. 6.1.f RGPD: Interés legítimo (enviar información solicitada,
                    responder a las consultas planteadas…).<br />
                    Art. 6.1.a RGPD: consentimiento del propio interesado (facilitar
                    ofertas de nuestros servicios y/o productos).
                  </td>
                </tr>
                <tr>
                  <th>CLIENTES</th>
                  <td
                    >Art. 6.1.b RGPD: ejecución de un contrato en el que el
                    interesado es parte.</td
                  >
                </tr>
                <tr>
                  <th>PROVEEDORES</th>
                  <td
                    >Art. 6.1.b RGPD: ejecución de un contrato en el que el
                    interesado es parte.</td
                  >
                </tr>
                <tr>
                  <th>CANDIDATOS</th>
                  <td>Art. 6.1.a RGPD: consentimiento del propio interesado.</td
                  >
                </tr>
                <tr>
                  <th>USUARIOS WEB</th>
                  <td>Art. 6.1.a RGPD: consentimiento del propio interesado.</td
                  >
                </tr>
              </tbody>
            </table>

            <p>
              Los datos que le solicitamos son adecuados, pertinentes y
              estrictamente necesarios y en ningún caso está obligado a
              facilitárnoslos, pero su no comunicación podrá afectar a la
              finalidad del servicio o la imposibilidad de prestarlo.
            </p>

            <h3>¿Por cuánto tiempo conservaremos sus datos personales?</h3>
            <p>
              Sus datos, serán conservados el tiempo mínimo necesario para la
              correcta prestación del servicio ofrecido así como para atender
              las responsabilidades que se pudieran derivar del mismo y de
              cualquier otra exigencia legal.
            </p>

            <h3>¿A qué destinatarios se comunicarán sus datos?</h3>
            <p>
              Drenpos Tech, S.L no comunicará sus datos a ningún tercero, salvo
              que se informe de ello expresamente.
            </p>
            <p>
              Adicionalmente le informamos que determinados datos, en virtud de
              la normativa vigente o de la relación contractual que mantenga con
              Drenpos Tech, S.L, podrán ser comunicados a:
            </p>
            <ul>
              <li>
                Los bancos y entidades financieras para el cobro de los
                servicios contratados y/o productos comprados.
              </li>
              <li>
                Administraciones públicas con competencia en los sectores de la
                actividad de Drenpos Tech, S.L, cuando así lo establezca la
                normativa vigente.
              </li>
            </ul>

            <h3>¿Se efectúan transferencias internacionales de los datos?</h3>
            <p>
              Utilizamos WhatsApp como vía de contacto con nuestros clientes,
              produciéndose por ello, una transferencia internacional de datos,
              tal y como se regula en su política de privacidad (<a
                href="https://www.whatsapp.com/legal/updates/privacy-policy-eea/?lang=es"
                target="_blank"
                rel="noopener noreferrer"
                >enlace a política de privacidad de Whatsapp</a
              >). La garantía utilizada para las mismas la constituye el uso de
              cláusulas contractuales tipo, tal y como se indica en la política
              de privacidad señalada. El uso del cliente de WhatsApp como vía de
              contacto, implica la aceptación de la citada política de
              privacidad.
            </p>
            <p>
              Los datos podrán ser cedidos a Cloudflare Inc. y Microsoft Inc.
              para la gestión de copias de seguridad y servicios en la nube. No
              obstante, para garantizar la seguridad y confidencialidad de los
              datos se han adoptado las medidas oportunas mediante la Decisión
              de adecuación. Si quiere puede solicitarlas en el correo
              electrónico <a href="mailto:administracion@drenpos.com"
                >administracion@drenpos.com</a
              >.
            </p>

            <h3>¿Cuáles son sus derechos cuando nos facilita sus datos?</h3>
            <p>
              Los derechos de protección de datos que podrán ejercer los
              interesados, cuando procedan, son:
            </p>
            <ul>
              <li>
                Derecho a solicitar el acceso a los datos personales relativos
                al interesado.
              </li>
              <li>Derecho de rectificación o supresión.</li>
              <li>Derecho de oposición.</li>
              <li>Derecho a solicitar la limitación de su tratamiento.</li>
              <li>Derecho a la portabilidad de los datos.</li>
              <li>
                Derecho a no ser objeto de decisiones basadas únicamente en el
                tratamiento automatizado de datos.
              </li>
            </ul>
            <p>
              Los titulares de los datos personales obtenidos, podrán ejercer
              sus derechos de protección de datos personales dirigiendo una
              comunicación por escrito al domicilio social de Drenpos Tech, S.L
              o al correo electrónico habilitado a tal efecto,
              administracion@drenpos.com.
            </p>
            <p>
              Modelos, formularios y más información disponible sobre sus
              derechos en la página web de la autoridad de control nacional,
              Agencia Española de Protección de Datos, en adelante, AEPD,
              www.aepd.es
            </p>

            <h3>¿Puedo retirar el consentimiento?</h3>
            <p>
              Usted tiene la posibilidad y el derecho a retirar el
              consentimiento para cualquier finalidad específica otorgada en su
              momento, sin que ello afecte a la licitud del tratamiento basado
              en el consentimiento previo a su retirada.
            </p>

            <h3>
              ¿Dónde puedo reclamar en caso de que considere que no se tratan
              mis datos correctamente?
            </h3>
            <p>
              Si algún interesado considera que sus datos no son tratados
              correctamente por Drenpos Tech, S.L o que las solicitudes de
              ejercicio de derechos no han sido atendidas de forma
              satisfactoria, puede interponer una reclamación ante a la
              autoridad de protección de datos que corresponda, siendo la AEPD
              la indicada en el territorio nacional, www.aepd.es.
            </p>

            <h3>Seguridad y actualización de sus datos personales</h3>
            <p>
              Con el objetivo de salvaguardar la seguridad de sus datos
              personales, le informamos que ha adoptado todas las medidas de
              índole técnica y organizativa necesarias para garantizar la
              seguridad de los datos personales suministrados. Todo ello para
              evitar su alteración, pérdida, y/o tratamientos o accesos no
              autorizados, tal como exige la normativa, si bien la seguridad
              absoluta no existe.
            </p>
            <p>
              Es importante que, para que podamos mantener sus datos personales
              actualizados, nos informe siempre que se produzca una modificación
              de los mismos.
            </p>

            <h3>Confidencialidad</h3>
            <p>
              Drenpos Tech, S.L le informa que sus datos serán tratados con el
              máximo celo y confidencialidad por todo el personal que intervenga
              en cualquiera de las fases del tratamiento. No cederemos ni
              comunicaremos a ningún tercero sus datos, excepto en los casos
              legalmente previstos, o salvo que el interesado nos hubiera
              autorizado expresamente.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
